.movies-card {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

.movies-card__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 18px 18px 18px;
    padding: 0;
}

.movies-card__movie-title {
    margin: 0;
    padding: 0;
    margin-right: 14px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #000;
}

.movies-card__movie-duration {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #a0a0a0;
}

.movies-card__trailer {
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
    max-width: 360px;
    height: 100%;
    max-height: 200px;
}

.movies-card__movie-img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movies-card__icon {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 29px;
    margin: 18px auto 18px auto;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    color: #000;
}

.movies-card__icon:hover {
    opacity: 0.6;
    cursor: pointer;
}

.movies-card__icon_saved {
    background: #ee3465;
    border-radius: 30px;
}

@media screen and (max-width: 768px) {
    .movies-card__movie-title {
        font-size: 15px;
    }

    .movies-card__trailer {
        max-height: 190px;
        max-width: 342px
    }
}

@media screen and (max-width: 640px) {
    .movies-card__icon {
        margin: 14px auto 14px auto;
    }

    .movies-card__movie-title {
        font-size: 12px;
    }

    .movies-card__movie-duration {
        font-size: 10px;
    }

    .movies-card__trailer {
        max-height: 168px;
        max-width: 300px
    }
}