.hamburger-menu {
    height: 100%;
    width: 65%;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    position: absolute;
    display: none;
    z-index: 2;
}

.hamburger-menu.active {
    display: block;
}

.hamburger-menu__blur {
    width: 100vw;
    height: 100%;
    background: rgba(160, 160, 160, 0.5);
    right: 100%;
    position: absolute;
}

.hamburger-menu__content {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburger-menu__items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 159px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburger-menu__item {
    margin-bottom: 26px;
}

.hamburger-menu__item:last-child {
    margin-bottom: 0;
}

.hamburger-menu__link {
    text-decoration: none;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000;
}

.hamburger-menu__link_active {
    padding-bottom: 4px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.hamburger-menu__profile-link {
    position: fixed;
    bottom: 20px;
    text-decoration: none;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000;
}

.hamburger-menu__profile-link:hover {
    opacity: 0.6;
    cursor: pointer;
}

.hamburger-menu__close-button {
    background-image: url(../../images/close-button.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 22px;
    width: 22px;
    top: 30px;
    right: 30px;
    border: none;
    z-index: 3;
    cursor: pointer;
    outline: none;
}

.hamburger-menu__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 560px) {
    .hamburger-menu {
        width: 100%;
    }

    .hamburger-menu__content {
        width: 100%
    }

    .hamburger-menu__blur {
        display: none;
    }

    .hamburger-menu__profile-link {
        margin-top: 444px;
    }

    .hamburger-menu__close-button {
        top: 14px;
        right: 14px;
    }
}

@media screen and (max-width: 320px) {
    .hamburger-menu__items {
        margin-top: 140px;
    }
}